
src/MyAlgorithm/.vs/MyAlgorithm/DesignTimeBuild/.dtbcache.v2
src/MyAlgorithm/.vs/MyAlgorithm/FileContentIndex/90feae14-32a3-4f4a-bb3e-85faccaaafc3.vsidx
src/MyAlgorithm/.vs/MyAlgorithm/FileContentIndex/read.lock
src/MyAlgorithm/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/.vs/MyAlgorithm/v17/.suo
src/MyAlgorithm/.vs/ProjectEvaluation/myalgorithm.metadata.v2
src/MyAlgorithm/.vs/ProjectEvaluation/myalgorithm.projects.v2
src/MyAlgorithm/code/.vs/MyAlgorithm/DesignTimeBuild/.dtbcache.v2
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/10e204f2-31d3-40a1-a5c0-d472939bd380.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/3e052a9d-9f21-499f-a002-4d16d6142502.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/7ad77107-0364-4413-abb9-46c77aa1cd1a.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/aa788b1b-31f1-44f0-be5c-60c351b5f7f0.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/read.lock
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.suo
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v2
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v2
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.deps.json
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.dll
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.exe
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.pdb
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.runtimeconfig.dev.json
src/MyAlgorithm/code/bin/Debug/net5.0/MyAlgorithm.runtimeconfig.json
src/MyAlgorithm/code/LinkList/DoubleLinkedList.cs
src/MyAlgorithm/code/LinkList/MyJoseph.cs
src/MyAlgorithm/code/LinkList/SingleLinkList.cs
src/MyAlgorithm/code/MyAlgorithm.csproj
src/MyAlgorithm/code/MyAlgorithm.sln
src/MyAlgorithm/code/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/MyAlgorithm/code/obj/Debug/net5.0/apphost.exe
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.AssemblyInfo.cs
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.AssemblyInfoInputs.cache
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.assets.cache
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.csproj.AssemblyReference.cache
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.csproj.BuildWithSkipAnalyzers
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.csproj.CoreCompileInputs.cache
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.csproj.FileListAbsolute.txt
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.dll
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.GeneratedMSBuildEditorConfig.editorconfig
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.genruntimeconfig.cache
src/MyAlgorithm/code/obj/Debug/net5.0/MyAlgorithm.pdb
src/MyAlgorithm/code/obj/Debug/net5.0/ref/MyAlgorithm.dll
src/MyAlgorithm/code/obj/Debug/net5.0/refint/MyAlgorithm.dll
src/MyAlgorithm/code/obj/MyAlgorithm.csproj.nuget.dgspec.json
src/MyAlgorithm/code/obj/MyAlgorithm.csproj.nuget.g.props
src/MyAlgorithm/code/obj/MyAlgorithm.csproj.nuget.g.targets
src/MyAlgorithm/code/obj/project.assets.json
src/MyAlgorithm/code/obj/project.nuget.cache
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/21ec2701-3736-4112-8e3b-e7342bce35fb.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/573a07bb-963d-47d0-9250-5d730950b9fd.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/5f80b291-d7e7-4d0d-8a8f-0fa01287ffc4.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/6de87319-1971-4f9d-a328-8c4777291c4b.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/9aee30ef-290d-4e30-bc8c-0dfd64ff79d5.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/b437a619-fbae-4bc4-9e8f-f0e81aa93200.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/e7a0ca00-08ca-4ed8-b3b8-07f863da7829.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/f832a97e-77c8-4016-90d1-575645eaf468.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/code/obj/Debug/net5.0/_IsIncrementalBuild
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/573a07bb-963d-47d0-9250-5d730950b9fd.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/5f80b291-d7e7-4d0d-8a8f-0fa01287ffc4.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/9aee30ef-290d-4e30-bc8c-0dfd64ff79d5.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/b437a619-fbae-4bc4-9e8f-f0e81aa93200.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/573a07bb-963d-47d0-9250-5d730950b9fd.vsidx
*.vsidx
*.vsidx
*.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/FileContentIndex/573a07bb-963d-47d0-9250-5d730950b9fd.vsidx
*.vsidx
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v1
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v2
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v3
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v2
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v3
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v2
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v3
src/MyAlgorithm/code/.vs/MyAlgorithm/v17/.futdcache.v2
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.metadata.v3
src/MyAlgorithm/code/.vs/ProjectEvaluation/myalgorithm.projects.v3
