@page "/updateflow"

<div>
    <Tab IsBorderCard="true">
        <TabItem Text="更新流程图">
            <div>
                <img style="width:900px; height:500px;" src="imgs/update_flow.jpg" />
            </div>
        </TabItem>
        <TabItem Text="支持关系图">
            <div>
                <img style="width:900px; height:500px;" src="imgs/support.jpg" />
            </div>
        </TabItem>
    </Tab>
</div>

@code {

}
