<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Juster.SpaceStation</a>
    <img resource="../resource/icon.jpg" width="20" height="20" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
           <li class="nav-item px-3">
            <NavLink class="nav-link" href="updateflow">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 更新流程
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_core">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generalupdate.Core
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_aspnetcore">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generalupdate.AspNetCore
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_clientcore">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generalupdate.ClientCore
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_corecommon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generalupdate.Common
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_single">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generalupdate.Single
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="generalupdate_zip">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GeneralUpdate.Zip
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
