# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/.idea.RedisTest.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
